
body.church h1.pagetitle {
	background-color: transparent;
}


body.church div.description {
    background-color: #f59120;
}


body.church div.transportation {
	background-color: transparent;
}

body.church div.open-map{
	background-color: transparent;
	font-family: 'Permanent Marker';
	color: black;
} 

