body.comment div.page-container {
	height: 100%;
	
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
	flex-direction: column;
}


body.comment div.content-container {	
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;		
}

body.comment h1.pagetitle {
	background-color: transparent;	
	margin: 0px;
	margin-right: 50px;
}

body.comment div.frame.comment {
	margin: 0;
	position: absolute;
	width: 17%;
	top: -45px;
	left: 230px;
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
	z-index: 5;
}

body.comment .title-spacer {
	margin-top: 10px;	
}


body.comment div.row {
	margin-right: 0;
	margin-left: 0;
}



/*body.comment form.comment-form,*/
body.comment div.comments{
	margin-bottom: 20px;
}

body.comment div.comments-list {
	overflow-x: hidden;
	overflow-y: auto;
	margin-bottom: 10px;
	padding-top: 15px;
}

body.comment div.comment-frame{	
	padding: 10px;	
	margin-bottom: 10px;	
	margin-right: 50px;
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);
	-webkit-transform-origin: top center;
	transform-origin: top center;
	margin-left:15px;
}

body.comment div.comment-frame.even{
	text-align: right;
	margin-right: 15px;
	margin-left: 50px;
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
}

body.comment div.comment-frame.even p.commentdate {
	text-align: left;
}

body.comment div.comment-frame.odd p.commentdate {
	text-align: right;
}


body.comment .form-group {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
}

body.comment .form-control {
	border-radius: 0px;
}

@media (min-width: 768px) { 
	body.comment div.frame.comment {
		width: 14%;
		top: -110px;		
		left: 645px;
	}
	
	body.comment .title-spacer {
		margin-top: 15px;
	}		
	
	body.comment div.comments-list{
		padding-top: 20px;
		padding-left: 50px;
		padding-right: 50px;
	}
	
	body.comment div.comment-frame{
		margin-bottom: 35px;
	}
}
