
body.dinner h1.pagetitle {
	background-color: transparent;
}


body.dinner div.open-map{
	background-color: transparent;
	color: black;
	font-family: 'Permanent Marker';
} 

body.dinner img.photo-map {
	width: 100%;
	height: auto;
	background: white;
	border: 1px solid #cccccc;
}

body.dinner div.transportation ul{
	padding-left:10px;
}


@media (min-width: 768px) {
	body.dinner div.transportation ul{
		padding-left:18px;
	}
}

