/*
@font-face {
    font-family: 'architects_daughterregular';
    src: url('../fonts/architectsdaughter-webfont.eot');
    src: url('../fonts/architectsdaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/architectsdaughter-webfont.woff') format('woff'),
         url('../fonts/architectsdaughter-webfont.ttf') format('truetype'),
         url('../fonts/architectsdaughter-webfont.svg#architects_daughterregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
  font-family: 'Architects Daughter';
  font-style: normal;
  font-weight: 400;
  src: local('Architects Daughter'), local('ArchitectsDaughter'), url(https://fonts.gstatic.com/s/architectsdaughter/v5/RXTgOOQ9AAtaVOHxx0IUBBoTIN0je7AiOLXaVBr1ByU.woff2) format('woff2'), url(https://fonts.gstatic.com/s/architectsdaughter/v5/RXTgOOQ9AAtaVOHxx0IUBLX-17DZ7sxHqV95SKqxd6w.woff) format('woff');
}
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Cutive Mono'), local('CutiveMono-Regular'), url(https://fonts.gstatic.com/s/cutivemono/v3/N5odNRruTwjvCM8y77PhQYgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2'), url(https://fonts.gstatic.com/s/cutivemono/v3/N5odNRruTwjvCM8y77PhQbrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Permanent Marker';
  font-style: normal;
  font-weight: 400;
  src: local('Permanent Marker'), local('PermanentMarker'), url(https://fonts.gstatic.com/s/permanentmarker/v4/9vYsg5VgPHKK8SXYbf3sMio-5Z6V1O0VBgfXWFfbB4c.woff2) format('woff2'), url(https://fonts.gstatic.com/s/permanentmarker/v4/9vYsg5VgPHKK8SXYbf3sMmVSxyvLCPm9firj_jMeQtQ.woff) format('woff');
}

html {
	height: 100%;	
}

body {
    background-image: url("../img/paperBackground.jpg");    
    font-family: 'Architects Daughter', cursive;
    height: 100%;
}

body h1.pagetitle {
	margin-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	
	font-weight: bolder;
	font-size: 44px;
	font-family: 'Permanent Marker';
	
	/*color: white;
	background: #558aa9;*/
	
	/*position: absolute;
	left:0;
	right: 0;*/
}

div.page-container{
	/*margin-left: 10px;
	margin-right: 10px;*/
	max-width: 800px;
}

div.content-container {
	position: relative;	
	/*height: 300px;
	background-color: black;*/
}

div.frame {
	background-image: url("../img/frame.jpg");
	background-repeat: no-repeat;
	background-size: 100% auto;	
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

div.frame img.photo {	
	width: 101%;		
	height: auto;
}

div.frame span.title {	
	width: 100%;
	display: block;
}


iframe.map {
	width: 100%;
	height: 200px;
}

.font-huge{
	font-size: 36px;
}

.font-normal {
	font-size: 8px;
}

.font-big {
	font-size: 12px;
}

.font-small {
	font-size: 6px;
}

.font-button {
	font-size: 12px;
}

.centered-parent {
  text-align: center;  
}
 
 
.centered {
	display: table;
  	height: auto;
  	
  	position: absolute;
  	margin: auto;
  	top: 0;
  	left: 0;
  	bottom: 0;
  	right: 0;
  	overflow: auto;
  	width: 50%;
}

.flex-vertical {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-horizontal {
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-horizontal.stretch-height{
	-webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
}

.flex-vertical.center-height{
	 -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-vertical.center-width{
	 -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-horizontal.center-width{	
  -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-justify-around {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-align-start {
  -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.flex-justify-between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: distribute;
  justify-content: space-between;
}

.flex-justify-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-grow {
	-webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.flex-no-shrink {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}

.flex-fix {
	-webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}

.pagetitle {
	position: relative;
}

div.back-indicator{
	position: absolute;
	top: 0px;
	left: 0px;
	background: url('../img/arrow-left.png');
	width:24px;
	height:24px;
	margin:4px;
	background-size: contain;	
	z-index: 2;	
}

button.btn-link {
  background-color: transparent;
	color: black;	
	padding: 5px;
	font-family: 'Permanent Marker';
	border: none;
	cursor: default;
	-webkit-appearance: none;
	-moz-appearance: none;
}

button.btn-link:disabled{
  background-color: transparent;
	color: #777;
}

.taped {
  position: relative;
}

.taped::before {
    content: ' ';
    display: block;
    position: absolute;
    left: -15px;
    top: -11px;
    width: 35px;
    height: 20px;
    z-index: 2;
    background-color: rgba(243,245,228,0.5);
    border: 2px solid rgba(255,255,255,0.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    
    -webkit-transform: rotate(-35deg);    
    transform: rotate(-35deg);
}

.taped-center{
  position: relative;
}

.taped-center::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 48%;
    left: calc(50% - 17px);
    top: -11px;
    width: 35px;
    height: 20px;
    z-index: 2;
    background-color: rgba(243,245,228,0.5);
    border: 2px solid rgba(255,255,255,0.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    
    -webkit-transform: rotate(-3deg);    
    transform: rotate(-3deg);
}

.taped-bottom::after {
    content: ' ';
    display: block;
    position: absolute;
    right: 2px;
    bottom: -4px;
    width: 35px;
    height: 20px;
    z-index: 2;
    background-color: rgba(243,245,228,0.5);
    border: 2px solid rgba(255,255,255,0.5);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    
    -webkit-transform: rotate(-35deg);    
    transform: rotate(-35deg);
}

.pinned {
  position: relative;
}

.pinned .pin {
  background-color: #666;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
}

.pinned .pin.short{
  height: 10px;
  top: -6px;  
}

.pinned.left .pin {
  left: 2%;
  top: -3px;
}

.pinned.right .pin {
  left: 96%;
  top: -3px;
}

.pinned .pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}

.pinned .pin.short:after {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              13px 6px 3px hsla(0,0%,0%,.15);
}

.pinned .pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';
  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;
  transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);
  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}

.pinned .pin.short:before {
    height: 10px;
    top: 0px;
}

.lined-paper {
  background-color: #fff; 
	background-image: -moz-linear-gradient(top, #eee .1em, transparent .1em);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(.1em,#eee),color-stop(.1em,transparent));
	background-image: -webkit-linear-gradient(top, #eee .1em, transparent .1em);
	background-image: -o-linear-gradient(top, #eee .1em, transparent .1em);
	background-image: -ms-linear-gradient(top, #eee .1em, transparent .1em);
	background-image: linear-gradient(#eee .1em, transparent .1em); 		
	background-size: 100% 1.2em;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.shadow {
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3) !important;
}

.plain-paper{
  background: white;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  font-family: "Cutive Mono", monospace;
}

@media (min-width: 768px) { 
			
	body h1.pagetitle {
		margin-top: 20px;
		padding-top: 10px;
		padding-bottom: 15px;	
		font-size: 80px;			
	}
	
	div.page-container{
		/*margin-left: 40px;
		margin-right: 40px;*/
	}		

	.font-huge{
		font-size: 72px;
	}
	
	.font-normal {
		font-size: 16px;
	}
	
	.font-big {
		font-size: 24px;
	}
	
	.font-small {
		font-size: 12px;
	}
	
	.font-button {
		font-size: 16px;
	}
		
	iframe.map {
		width: 100%;
		height: 400px;
	}
}