

body.other div.page-container {
	height: 100%;
}

body.other div.content-container {
	/*background: red;*/
	height: 50px;
	width: 100%;
	margin-top: 25px;
}

body.other div.frame-container {
	width: 300px;
	margin: auto;
}

body.other div.frame-center{
	position: absolute;	
}

body.other h1.pagetitle {
	font-size: 32px;	
}

body.other div.frame {
	width: 100px;
	height: 117px;	
	display: inline-block;
	position: absolute;	
}

body.other div.frame img.photo {	
	width: 100%;		
	height: 100%;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 18px;
}

body.other div.frame span.title {	
	padding-left: 5px;
	padding-right: 5px;
	font-size: 10px;
	margin-top: -16px;
}

body.other div.frame .title.small {
	font-size: 6px;
}

body.other div.frame.contacts {
	left: 25px;
	top: 0px;
	z-index: 5;
    -webkit-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

body.other div.frame.application {
	top: 155px;
	left: 30px;	
	z-index: 4;
	-webkit-transform: rotate(2deg);
	transform: rotate(2deg);
}

body.other div.frame.present {
	top: 20px;
	left: 170px;
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);	
}

body.other div.frame.flashmob {
	top: 175px;
	left: 160px;	
	z-index: 4;
	-webkit-transform: rotate(-4deg);
	transform: rotate(-4deg);
}


@media (min-width: 768px) { 	
		
	body.other h1.pagetitle {
		font-size: 80px;	
	}
	
	body.other div.content-container {
		margin-top: 50px;
	}
	
	body.other div.frame-container {
		width: 600px;		
	}
	
	body.other div.frame {
		width: 200px;
		height: 234px;		
	}
	
	body.other div.frame img.photo {	
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 35px;
	}
	
	body.other div.frame span.title {	
		padding-left: 10px;
		padding-right: 10px;
		font-size: 14px;
		margin-top: -30px;
	}
	
	body.other div.frame .title.small {
		font-size: 12px;
	}
	
	body.other div.frame.contacts {
		left: 0px;
		top: 0px;		
	}
	
	body.other div.frame.application {
		top: 300px;
		left: 90px;			
	}
	
	body.other div.frame.present {
		left: 390px;	
		top: 40px;
	}
	
	body.other div.frame.flashmob {
		top: 340px;
		left: 350px;			
	}
	
}