body.survey {
    background-image: url("/img/paperBackground.jpg");
    
    min-height: 100%
}

body.survey div.page-container {
	width: 100%;	
	height: 100%;
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;    
    
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

body.survey div.stage {
	width: 100%;
}

div.form-control.checks-inline{
	height: auto;
}

body.survey div.panel{
    background-color: transparent;
    border: none;
}

body.survey div.panel div.panel-body{
    background-color: white;
    font-family: "Cutive Mono", monospace;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

body.survey div.panel div.panel-heading{
    background: none;
    border: none;
    font-family: 'Permanent Marker';
    margin-top: -20px;
    padding-bottom: 20px;
}

body.survey div.panel div.panel-heading h3{
    font-size: 20px;
    text-align: center;
}

body.survey div.panel button.btn{
    margin: 0px 10px;
}

body.survey div.panel .form-control {
    font-family: 'Architects Daughter', cursive;
}

@media (min-width: 768px) {
    body.survey div.panel div.panel-heading h3{
        font-size: 48px;
    }
    
    body.survey div.panel{
        font-size: 18px;
    }
    
    body.survey div.panel .form-control {
        font-size: 18px;
    }
     
}