
<div class="back-indicator" ng-click="back()" ng-show="isWebApp()"></div> 
<h1 class="text-center pagetitle font-huge flex-fix">{{pageTitle()}}</h1>
<div class="content-container flex-grow no-shrink " ng-hide="currentSection">
	
	<div class="row">
		<div class="intro col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 pinned left">			
			<info class="pin short"></info>
			<p>Las zonas que parecen lógicas para buscar alojamiento son cerca de la iglesia o cerca de
			la masía donde se celebrará el banquete, os damos alguna información sobre ellas, pero 
			recomendaros, recomendaros, os recomendamos la zona del Palacio de Congresos, a las 
			afueras de Valencia, entre la iglesia y la masía.</p>

			<p>Encontraréis la información de cada una de las zonas con sus ventajas e inconvenientes 
			pulsando sobre su foto correspondiente.</p>

			<p>Valencia es una ciudad con un buen transporte público, tanto metro como autobús, así que 
			prácticamente cualquier zona que elijáis será accesible. Aparcar es otra cosa, claro.</p>

			<p>Habrá un autobús para ir y volver del banquete, que llegará hasta el centro de la ciudad, solo 
			hasta ahí.</p>

			<p>Y sobre los alojamientos que indicamos... los precios son orientativos, (¡quién sabe las 
			ofertas que podéis encontrar o los precios que tendrán cuándo miréis!) por eso también en 
			Alternativas os indicamos páginas web donde poder buscar.</p>

			<p>Así que solo nos queda desearos suerte &#x263A.</p>						
		</div>
	</div>
	
	<div class="row flex-horizontal photo-row">
		<div class="photo-container flex-fix" ng-click="openSection('map')">
			<div class="frame map">		    	
		    	<div class="photo-div">
		    		<img class="photo" src="/img/map.jpg">
		    	</div>
		    	<span class="title text-center font-normal">Mapa</span>
	    	</div>
	    </div>
		
		<div class="photo-container  flex-fix" ng-click="openSection('congress')">
			<div class="frame congress">		    	
		    	<div class="photo-div">
		    		<img class="photo" src="/img/congress.jpg">
		    	</div>
		    	<span class="title text-center font-normal">Zona Palacio</span>
	    	</div>
	    </div>
		
		<div class="photo-container  flex-fix" ng-click="openSection('center')">
			<div class="frame center">		    	
		    	<div class="photo-div">
		    		<img class="photo" src="/img/churchcenter.jpg">
		    	</div>
		    	<span class="title text-center font-normal">Zona Iglesia</span>
	    	</div>
	    </div>
			   	        
    </div>
	
	<div class="row flex-horizontal photo-row" >
		<div class="photo-container  flex-fix" ng-click="openSection('outside')">
			<div class="frame outside">		    	
		    	<div class="photo-div">
		    		<img class="photo" src="/img/eliana.jpg">
		    	</div>
		    	<span class="title text-center font-normal">Zona Masía</span>
	    	</div>
	    </div>
		
		<div class="photo-container  flex-fix" ng-click="openSection('alternatives')">
			<div class="frame alternatives">		    	
		    	<div class="photo-div">
		    		<img class="photo" src="/img/alternatives.jpg">
		    	</div>
		    	<span class="title text-center font-normal">Alternativas</span>
	    	</div>
	    </div>
			   	        
    </div>
	
</div>

<div class="content-container pages-container flex-grow no-shrink " ng-show="currentSection">	
	
	<div class="taped taped-bottom accommodation-map" ng-if="currentSection=='map'">
		<div class="accommodation-map-content">
			<iframe src="https://mapsengine.google.com/map/embed?mid=zkouqosdiyAI.kRJAYqdG1gWc" ></iframe>
		</div>
	</div>
	
	<div class="page pinned left" ng-show="currentSection=='congress'">
		<info class="pin short"/>
		<div class="page-text">		
			<p>Es la zona que os recomendamos. Está a las afueras de Valencia, bien comunicada por el
			metro (también hay autobús), con parada de taxi y posibilidad de aparcamiento.</p>

			<p>El autobús de vuelta del banquete os dejará en la misma puerta, así que podréis disfrutar al 
			máximo de la fiesta.</p>
			 
			<h2>Hoteles</h2>(Precios hab. doble)
			<ul>
				<li><b>EXPO HOTEL</b>, AVDA PIO XII (3* - 41,36 EUROS)</li>
				<li><b>SERCOTEL SOROLLA PALACE</b>, AVDA CORTES VALENCIANAS 58 (4* - 58,66 EUROS)</li>
				<li><b>CONFORTEL VALENCIA</b>, VALLE DE AYORA (4* - 46,75 EUROS)</li>
				<li><b>MELIÀ VALENCIA</b>, AVDA CORTES VALENCIANAS (4* - 67,50 EUROS)</li>
				<li><b>EUROSTARS GRAN VALENCIA</b>, VALLE DE AYORA 3 (4* - 62,90 EUROS)</li>
			</ul> 
			<h2>Apartamentos</h2>(Precios para dos)
			<ul>
				<li><b>VALENCIA RENTAL</b>, AVDA CORTES VALENCIANAS 46 (35 EUROS)</li>
			</ul>
		</div>
	</div>
	
	<div class="page taped taped-bottom" ng-show="currentSection=='center'">
		<div class="page-text">		
			<p>La iglesia está prácticamente en el centro de la ciudad y tiene mucha zona peatonal, con lo
			que aparcar es muy difícil, y casi seguro tendréis que buscar aparcamiento de pago (claro que 
			siempre está la posibilidad de aparcar en otra zona e ir al centro en otro medio).</p>
			<p>El autobús de vuelta del banquete os dejará cerca.</p>
			
			<h2>Bed & Breakfast</h2>(Precios hab. doble)
			<ul>
				<li><b>HULOT B&b</b>, POETA LIERN 16 (30 EUROS, 13 EUROS CAMA INDIV HAB COMPARTIDA)</li>				
			</ul> 
			<h2>Hotel</h2>(Precios hab. doble)
			<ul>
				<li><b>SWEET HOTEL</b>, CONDE DE MONTORNÉS 8 (74 EUROS, 52.40 EUROS HAB PARA CUATRO)</li>
				<li><b>SH BOUTIQUE HOTEL</b>, MARQUES DE DOS AGUAS 6 (3* - 64 EUROS)</li>
			</ul>
			<h2>Hostal</h2>(Precios hab. doble)
			<ul>
				<li><b>PURPLE NEST HOSTEL</b>, PLAZA TETUAN 5 (45 EUROS)</li>
				<li><b>THE RIVER HOSTEL</b>, PLAZA DEL TEMPLE 6 (43,90 EUROS)</li>
			</ul>
		</div>
	</div>
	
	<div class="page pinned left" ng-show="currentSection=='outside'">
		<info class="pin short"/>
		<div class="page-text">
			<p>Esta zona no tiene mucha disponibilidad de hoteles, pero es posible que buscando quizá 
			podáis encontrar algún chalet que se alquile (esa opción no la hemos contemplado).</p>

			<p>Para esta zona es aconsejable disponer de vehículo propio.</p>
			
			<p>Este son los hoteles más cercano que hemos encontrado:</p>

			<ul>
				<li><b>HOTEL MURALLETA</b>, Cisterna 31, Riba-roja de Turia (3*, 61 EUROS)</li>				
			</ul>

			<p>Podéis encontrar algunos hoteles con precios competitivos en el Parque Tecnológico, en 
			Paterna. Necesitaréis coche y, al ser una zona de “oficinas”, es una zona “deshabitada” el fin 
			de semana.</p>
		</div>
	</div>
	
	<div class="page taped" ng-show="currentSection=='alternatives'">
		<div class="page-text">
			<ul>
			<li><a href="http://www.booking.com">Booking.com</a>: Web de búsqueda de hoteles.</li>

			<li><a href="http://www.trivago.es">Trivago.es</a>: Web de comparador de hoteles. Busca y compara en varias webs, y te redirige a la 
			página donde hacer la reserva.</li>

			<li><a href="http://www.bedandbreakfast.com">BedAndBreakfast.com</a>: Página de búsqueda de alojamiento en “pensiones con desayuno”.</li>

			<li><a href="http://www.airbnb.com">Airbnb</a>: Página de búsqueda de alojamiento entre particulares. Se puede encontrar desde una 
			cama en una casa donde viven, hasta casas completas a precios competitivos. Es necesario estar registrado.</li>
			</ul>
		</div>
	</div>
	
	<div class="margin" >
	
	</div>
</div>



