<link href="css/contacts.css" rel="stylesheet">
<div class="back-indicator" ng-click="back()" ng-show="isWebApp()"></div> 
<h1 class="text-center pagetitle font-huge">Agenda
    <span class="subtitle font-big">
        de teléfonos
    </span>
</h1>
<div class="content-container ">		    
    <div class="row flex-vertical center-width contact-page taped">
        <div class="contact-card flex-fix ">
            <div class="line">
                <div class="contact-name">Sol</div>
            </div>
            <div class="line">
                <div class="contact-number"><a href="tel:605-38-42-02">605 38 42 02</a></div>
                <div class="contact-mail"><a href="mailto:solete64@hotmail.com">solete64@hotmail.com</a></div>
            </div>
        </div>
       
        <div class="contact-card flex-fix " >
            <div class="line">
                <div class="contact-name">Axel</div>
            </div>
            <div class="line">
                <div class="contact-number"><a href="tel:654-423-565">654 42 35 65</a></div>
                <div class="contact-mail"><a href="mailto:">axelgsfloresta@hotmail.com</a></div>
            </div>
        </div>
    
        <div class="contact-card flex-fix ">
            <div class="line">
                <div class="contact-name">Chon</div>
                <div class="contact-description">(Madre de la Novia)</div>
            </div>
            <div class="line">
                <div class="contact-number"><a href="tel:654-87-11-150">654 87 11 150</a></div>
                <div class="contact-mail"><a href="mailto:chonmir@ono.com">chonmir@ono.com</a></div>
            </div>
        </div>
        
        <div class="contact-card flex-fix ">
            <div class="line">
                <div class="contact-name">Paula</div>
                <div class="contact-description">(Hermana de la Novia)</div>
            </div>
            <div class="line">
                <div class="contact-number"><a href="tel:606-82-60-44">606 82 60 44</a></div>
                <div class="contact-mail"><a href="mailto:paualmir@hotmail.com">paualmi@hotmail.com</a></div>
            </div>
        </div>
    
        <div class="contact-card flex-fix">    
            <div class="line">        
                <div class="contact-name">Teletaxi</div>
                <div class="contact-description">(Empresa de taxis)</div>
            </div>
            <div class="line">
                <div class="contact-number"><a href="tel:96-357-13-13">96 357 13 13</a></div>
                <div class="contact-web"><a href="http://www.teletaxivalencia.com/">teletaxivalencia.com</a></div>
            </div>            
        </div>
    </div>
        
</div>

