
<div class="back-indicator" ng-click="back()" ng-show="isWebApp()"></div> 
<h1 class="text-center pagetitle font-huge flex-fix">Flash Mob</h1>
<div class="content-container flex-vertical flex-grow flex-no-shrink flex-justify-around">
	<div class="shadow video-container ">
		
		<div class="row">
			<div class="col-md-12 col-xs-12 youtube-container">
				<iframe id="youtubeVideo" type="text/html"
	  				src="//www.youtube.com/embed/fyER9XOoN8A?autoplay=0&controls=0&modestbranding=1&rel=0&showinfo=0"
	  				frameborder="0"/>
			</div>
		</div>
		
		
	</div>
	
	<div class="row" style="margin: 0px">
		<p>Recordar que los pasitos adelante no son un paso de baile, si no indicación que se incorporan nuevas personas.</p>
		<p>¡¡Y ahora... a ensayar!!</p>
	</div>
	
	<div class="row" style="height: 30px;">
		
	</div>
	
</div>

