
<div class="back-indicator" ng-click="back()" ng-show="isWebApp()"></div> 
<h1 class="text-center pagetitle font-huge">Lista de boda</h1>
<div class="content-container">
	
	<div class="row flex-horizontal stretch-height photo-row">
		<div class="photo-container col-md-2 col-xs-2">
			<div class="frame present">		    	
		    	<div class="photo-div">
		    		<img class="photo" src="/img/present.jpg">
		    	</div>
		    	<span class="title text-center font-normal">&nbsp;</span>
	    	</div>
	    </div>	   	        
    </div>
    
    <div class="row flex-horizontal stretch-height">			    
	    <div class="col-md-12 col-md-offset-0 col-xs-12 col-xs-offset-0 flex-vertical center-height">
	    	<div class="description taped font-normal flex-fix">
		    	<p>Por si puedes un presente mandar,</p> 
                <p>aquí va una cuenta.</p>
                <p>Y aún más tendremos en cuenta</p>
                <p>el don de verte presente</p>
                <p>en los actos de ese día,</p>
                <p>para aumento de alegría.</p>
	    	</div>
	    </div>
    
    </div>
    
    <div class="row flex-horizontal stretch-height">		
	    
	    <div class="col-md-12 col-xs-12 flex-vertical center-height">
	    	<div class="bank font-normal flex-fix pinned">
                <info class="pin short"></info>
		    	&nbsp; ES51 2038 6294 96 3000021848 (Bankia)
	    	</div>
	    </div>
    
    </div>
    
    
        
</div>

