
<div class="back-indicator" ng-click="back()" ng-show="isWebApp()"></div> 
<h1 class="text-center pagetitle font-huge flex-fix">Nosotros</h1>
<div class="content-container flex-vertical flex-grow flex-no-shrink flex-justify-around">
	<div class="photo-files flex-horizontal">
		<div class="axel photo-file shadow flex-vertical">
			<div>
				<h3>Axel Gonzalez Soria</h3>
			</div>
			<div class="flex-horizontal flex-align-start">			
				<div class="frame axel pinned left">
					<info class="pin short"/>
					<img class="photo" src="/img/axel.jpg">
					<span class="title text-center">Axel</span>
				</div>		
										    
				<div class="axel profile half flex-vertical ">											
			    	<div>Nacido el: 18/11/1984</div>
					<div>Procedencia: Soriano y catalán</div>	    	
				</div>
			</div>
			<div class="profile">
				<p>Profesión: Ing. industrial<p/>
			</div>
		</div>
		
		<div class="sol photo-file lined-paper shadow flex-vertical">
			<div>
				<h3>Sol Alonso Mir</h3>
			</div>
			<div class="flex-horizontal flex-align-start">		
				<div class="sol profile half flex-vertical ">						
					<div>Nacida el: 25/04/1984</div>					
					<div>Procedencia: Valenciana</div>	    	
				</div>
				
				<div class="frame sol pinned right">
					<info class="pin short"/>
			    	<img class="photo" src="/img/sol.jpg">
					<span class="title text-center">Sol</span>
				</div>
			</div>
			<div class="profile">
				<p>Profesión: Educadora social, psicopedagoga y casi maestra </p>
			</div>
		    
		</div>				
	</div>
	
	<div class=" shadow joke taped taped-bottom">		
		<div>
			Prometidos y residentes en Alicante
		</div>
	</div>
	
	<div class="shadow video-container ">
		<div class="col-md-12 col-xs-12">
			<h3>¿Cómo nos conocimos?</h3>
			<p>Aquí tenéis la historia al más puro estilo '¿Cómo conocí a vuestra madre?'</p>	
		</div>
		
		<div class="row">
			<div class="col-md-12 col-xs-12 youtube-container">
				<iframe id="youtubeVideo" type="text/html"
	  				src="//www.youtube.com/embed/fsoGDDnijDk?autoplay=0&controls=0&modestbranding=1&rel=0&showinfo=0"
	  				frameborder="0"/>
			</div>
		</div>
		
	</div>
	
	<div class="row" style="height: 30px;">
		
	</div>
	
</div>

