<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension="woff" mimeType="application/font-woff" />
            <mimeMap fileExtension=".otf" mimeType="font/otf" />
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>        
    </system.webServer>
</configuration> 